<div class="container">
  <div class="container-fluid text-center">
    <i class="fa-solid fa-wallet mx-2"></i>
    <span>My Wallet</span>
  </div>
  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expense</h5>
            <div class="flex mt-4">
              <i class="fa-solid fa-arrow-down" style="color: #dc0909;"></i>
              <p>200</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-3">Total Balance</div>
        <p>1000</p>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Income</h5>
            <div class="flex mt-4">
              <i class="fa-solid fa-arrow-up" style="color: #0da032;"></i>
              <p>3000</p>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
