<div>
  <div>
    <div class="container-fluid text-center bgFilter">
      <i class="fa-solid fa-magnifying-glass mx-2"></i>
      <strong><span>Filter Search</span></strong>
    </div>
    <form [formGroup]="filterForm" class="bgFilterform">
      <div class="row">
        <div class="form-group col-md-2">
          <label for="fromDate" class="form-label">From Date</label>
          <input type="date" formControlName="fromDate" class="form-control" placeholder="From Date">
        </div>
        <div class="form-group col-md-2">
          <label for="toDate" class="form-label">To Date</label>
          <input type="date" formControlName="toDate" class="form-control" placeholder="To Date">
        </div>
        <div class="form-group col-md-2">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" formControlName="category">
            <option value="" disabled selected>Select a category</option>
            <option *ngFor="let category of filterCategories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" formControlName="amount" class="form-control" placeholder="Amount">
        </div>
        <div class="form-group col-md-2">
          <label for="paymentMethod" class="form-label">Payment Method</label>
          <select class="form-select" id="paymentMethod" formControlName="paymentMethod">
            <option value="" disabled selected>Select a Payment Method</option>
            <option *ngFor="let paymentMethod of paymentMethodTypes" [value]="paymentMethod">
              {{ paymentMethod }}
            </option>
          </select>
        </div>
        <div class="col-md-2 mt-4">
          <button type="button" class="btn btn btn-outline-success mx-2" (click)="applyFilter()" title="Search Filter"><i class="fa-solid fa-filter"></i></button>
          <button type="button" class="btn btn btn-outline-danger mx-2" (click)="resetFilter()" title="Clear Filter"><i class="fa-solid fa-broom"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="container-fluid text-center bgTransactions">
    <i class="fa-solid fa-money-bill-transfer mx-2"></i>
    <span>My Transactions</span>
  </div>

  <table class="table table-hover text-center" style="background-color: #EFF3EA;">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Method</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of filteredTransactions">
        <td>{{ transaction.date | date:'dd-MMM-yyyy' }}</td>
        <td>{{ transaction.category }}</td>
        <td [ngClass]="transaction.type === 'expense' ? 'text-danger' : 'text-success'"><strong>{{ transaction.amount }}</strong></td>
        <td>{{ transaction.paymentMethod }}</td>
        <!-- <td>
          <button type="button" class="btn btn-sm btn-outline-warning mx-1" data-bs-toggle="modal"
           data-bs-target="#staticBackdrop" (click)="editTransaction(transaction)" title="Update">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger mx-1" (click)="deleteTransaction(transaction)" title="Delete">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Transaction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] = "formValue">
          <div class="form-group mb-2">
            <label for="amount" class="form-label">Amount</label>
            <div class="input-group">
              <input type="number" class="form-control" id="amount" formControlName="amount" placeholder="Enter your Amount">
              <div class="input-group-append">
                  <span class="input-group-text">₹</span>
              </div>
          </div>
          </div>

          <div class="form-group mb-2">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" formControlName="category">
              <option value="" disabled selected>Select a category</option>
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
          </div>

          <div class="form-group mb-2">
            <label for="paymentMethod" class="form-label">Payment Method</label>
            <select class="form-select" id="paymentMethod" formControlName="paymentMethod">
              <option value="" disabled selected>Select a Payment Method</option>
              <option *ngFor="let paymentMethod of paymentMethodTypes" [value]="paymentMethod">
                {{ paymentMethod }}
              </option>
            </select>
          </div>

          <div class="form-group mb-2">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" formControlName="date" [max]="maxDate"/>
          </div>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning btn-sm" (click)="updateTransactionDetails()" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
