<div class="container">
  <div class="container-fluid text-center">
    <i class="fa-solid fa-magnifying-glass mx-2"></i>
    <span>Filter Search</span>
  </div>
  <div class="container-fluid text-center">
    <i class="fa-solid fa-money-bill-transfer mx-2"></i>
    <span>My Transactions</span>
  </div>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactionItems">
        <td>{{ transaction.date | date:'dd-MMM-yyyy' }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.paymentMethod }}</td>
        <td>
          <button class="btn btn-sm btn-warning mx-1">Update</button>
          <button class="btn btn-sm btn-danger mx-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
