<div class="container">
  <div class="container-fluid text-center">
    <i class="fa-solid fa-magnifying-glass mx-2"></i>
    <span>Filter Search</span>
  </div>
  <div class="container-fluid text-center">
    <i class="fa-solid fa-money-bill-transfer mx-2"></i>
    <span>My Transactions</span>
  </div>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>21-feb-2025</td>
        <td>Travel</td>
        <td>800</td>
        <td>Cash</td>
        <td>
          <button class="btn btn-sm btn-warning mx-1">Update</button>
          <button class="btn btn-sm btn-danger mx-1">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>23-feb-2025</td>
        <td>Snacks</td>
        <td>150</td>
        <td>UPI</td>
        <td>
          <button class="btn btn-sm btn-warning mx-1">Update</button>
          <button class="btn btn-sm btn-danger mx-1">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>26-feb-2025</td>
        <td>Grocery</td>
        <td>300</td>
        <td>UPI</td>
        <td>
          <button class="btn btn-sm btn-warning mx-1">Update</button>
          <button class="btn btn-sm btn-danger mx-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
