<div class="container">
  <div>
    <div class="row">
      <div class="col-md-5 text-center">
        <button class="btn btn-sm btn-light">Expense</button>
      </div>
      <div class="col-md-2 text-center">|</div>
      <div class="col-md-5 text-center">
        <button class="btn btn-sm btn-light">Income</button>
      </div>
    </div>
  </div>

    <h4 class="text-center">Add new Expense transaction</h4>
    <div>
      <form>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount" placeholder="Amount">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Payment Method</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
      </form>
    </div>

</div>
