<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #2D336B;">
  <div class="container-fluid">
    <a class="navbar-brand mx-5 textColor" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img src="BudgetBuddyLogo.png" alt="Logo" width="4%" class="d-inline-block align-text-top">
      Budget Buddy
    </a>
  </div>
  <div class="collapse navbar-collapse mx-5" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mx-5">
        <a class="nav-link textColor" aria-current="page" routerLink="home">OVERVIEW</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link textColor" routerLink="report">REPORT</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link textColor" routerLink="budget">BUDGET</a>
      </li>
    </ul>
  </div>
</nav>
